@using Greeny.BLL.ModelVM.ProductVM
@model IEnumerable<ProductListVM>

<div class="row">

    @foreach (var item in Model)
    {
        <article class="product-card">
            <a asp-action="Details" asp-controller="Product"asp-route-id="@item.ProudctId" class="product-link">
                <div class="card-image">
                    <img src="~/media/photos/product-tomatoes.jpg" alt="@item.ProductName" />
                </div>
                <div class="card-content">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i> <span class="score">@item.Rating</span>
                        <span class="reviews"> (@item.TotalReviews) reviews</span>
                    </div>
                    <h3 class="product-title">@item.ProductName</h3>
                    <div class="card-footer">
                        <div class="price">
                            <span class="amount">$@item.Price.ToString("F2")</span>
                            <span class="unit">per kg</span>
                        </div>
                        <button class="add-btn">
                            <i class="fa-solid fa-cart-shopping"></i> Add
                        </button>
                    </div>
                </div>
            </a>
        </article>
    }

</div>