@using Greeny.BLL.ModelVM.ProductVM
@model IEnumerable<ProductListVM>

<div class="row">

    @foreach (var item in Model)
    {
        <article class="product-card">
            <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId" class="product-link">
                <div class="card-image">
                    <img src="~/Files/@item.Image"
                         class="product-img"
                         alt="product" />
                    <span class="badge badge-left badge-vegetables">@item.CategoryName</span>
                </div>
                <div class="card-content">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i> <span class="score">@item.Rating</span>
                        <span class="reviews"> (@item.TotalReviews) reviews</span>
                    </div>
                    <h3 class="product-title">@item.ProductName</h3>
                    <div class="card-footer">
                        <div class="price">
                            <span class="amount">$@item.Price.ToString("F2")</span>
                            <span class="unit">per kg</span>
                        </div>
                        <form asp-controller="CartItem"
                              asp-action="Create"
                              method="post">

                            <input type="hidden" name="ProductId" value="@item.ProductId" />
                            <input type="hidden" name="Quantity" value="1" />

                            <button type="submit" class="add-btn">
                                <i class="fa-solid fa-cart-shopping"></i> Add
                            </button>

                        </form>
                    </div>
                </div>
            </a>
        </article>
    }

</div>